
body {
    background-color: black; 
}

.page {
background:black;
} 

.page-head {
    text-align: center;
    background-color:gray;
}

.task-head {
    margin-top: 5%;
}

.total-tasks {
    background-color: aquamarine;
}

.no-of-tasks {
    background-color: aquamarine;
}

.task {
    color: aliceblue;
    margin-top: 5%;
}