
body {
    background-color: white; 
}

.page {
background:white;
} 

.page-head {
    text-align: center;
    background-color:gray;
}

.task-head {
    margin-top: 5%;
}

.total-tasks {
    background-color: aquamarine;
}

.no-of-tasks {
    background-color: aquamarine;
}

.task {
    color: blue;
    margin-top: 5%;
    background-color: cadetblue;
}

.delete-button {
    background: red;
    border-radius: 47%;
    padding-left:1em;
    padding-right: 1em;
}